<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
    <classes>
      <class name="User.CROroleCreation"/>
      <class name="User.ChangeRoleOfUser"/>
      <class name="User.SelfServiceUserCreation"/>
      <class name="User.SuperUserRoleCreation"/>
      <class name="User.AdminRoleCreation"/>
      <class name="User.addRolesToUser"/>
      <class name="User.ChangeRoleAfterFromUserListNavigation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
